<footer class="footer">
  <div class="grid wide footer__content">
      <div class="row">
          <div class="col l-2-4 m-4 c-6">
              <h3 class="footer__heading">Chăm sóc khách hàng</h3>
              <ul class="footer-list">
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">F8-Shop Mall</a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                  </li>
              </ul>
          </div>
          <div class="col l-2-4 m-4 c-6">
              <h3 class="footer__heading">Giới thiệu</h3>
              <ul class="footer-list">
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Giới thiệu</a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Tuyển dụng</a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Điều khoản</a>
                  </li>
              </ul>
          </div>
          <div class="col l-2-4 m-4 c-6">
              <h3 class="footer__heading">Danh mục</h3>
              <ul class="footer-list">
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Trang điểm mặt</a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Trang điểm môi</a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">Trang điểm mắt</a>
                  </li>
              </ul>
          </div>
          <div class="col l-2-4 m-4 c-6">
              <h3 class="footer__heading">Theo dõi</h3>
              <ul class="footer-list">
                  <li class="footer-item">
                      <a href="" class="footer-item__link">
                          <i class="footer-item__icon fa-brands fa-facebook"></i>
                          Facebook
                      </a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">
                          <i class="footer-item__icon fa-brands fa-instagram"></i>
                          Instagram
                      </a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">
                          <i class="footer-item__icon fa-brands fa-linkedin"></i>
                          LinkedIn
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col l-2-4 m-4 c-6">
              <h3 class="footer__heading">Cửa hàng trên ứng dụng</h3>
              <div class="footer__download">

                  <div class="footer__download-apps">
                      <a href="" class="footer__download-app-link">

                      </a>
                      <a href="" class="footer__download-app-link">

                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer__bottom">
      <div class="grid wide">
          <p class="footer__text">© 2019 - Bản quyền thuộc về Công ty</p>
      </div>
  </div>
</footer>


