img{
  height: 130px;
  width: 130px;
  object-fit:contain;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
.card{
  display: block;
  border: 2px solid #DDDD;
  border-radius: 10px;
}
