<!-- <section>
  <div class="container">
    <hr class="new3">
    <h3>Tất cả sản phẩm</h3>
    <div class="col-sm-3" routerLink="/product-detail">
      <div class="card w-100 my-2 shadow-2-strong" *ngFor="let pd of products">
        <img [src]="pd.image" class="card-img-top"
          style="aspect-ratio: 1 / 1;height: 100px;width: 100px; margin: 0 auto; margin-top: 10px; border: 20px; display: flex;" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{pd.name}}</h5>
          <p class="card-text">Giá : {{pd.price}}</p>
          <div class="col-4 justify-content">
            <button class="btn btn-dark">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="m-4">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item"><a href="#" class="page-link">Previous</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section> -->

<section>
  <div class="container my-5">
    <hr class="new3">
    <header class="mb-4">
      <h1>Tất cả sản phẩm</h1>
    </header>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let pd of products">
        <div class="card my-3">
          <img [src]="pd.image" class="card-img-top rounded-2" [routerLink]="['/product-detail/']"
            [queryParams]="{productId: pd.id}" />
          <hr class="new4">
          <div class="card-body p-0">
            <h4 class="name">{{pd.name}}</h4>
            <h5 class="card-title">Giá: {{pd.price | currency: 'VND' : 'symbol':'1.0-0' | slice: 1}}đ</h5>
            <p class="card-text mb-0">Mô tả: {{pd.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Hiển thị phân trang -->
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Trang trước</button>
      <button>{{ currentPage }}</button>
      <button>/</button>
      <button>{{ totalPages }}</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Trang kế tiếp</button>
    </div>
  </div>
</section>
<hr>
